body {
  color: #444444;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  height: 1.7rem;
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  transition: .3s box-shadow;
  margin: .4rem;
&:hover {
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
 }
}
p {
  margin: 0.1rem;
  text-align: justify;
}
button{
  display: inline-block;
  padding: 0 2rem;
  margin: 0.8rem auto;
  border: 1px solid #fff;
  border-radius: .5rem;
  height: 3rem;
  color: #444;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 80%);
  transition: box-shadow 0.2s;
  cursor: pointer;
  &:hover{
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-3px);
  }
  &:active{
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 80%);
  }
}
h3 {
  text-align: center;
  margin: 0.1rem;
}
span{
  text-align: right;
}
a{
  color: inherit;
  text-decoration: none;
}