.container{
  font-size: 2rem;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid #444;
}
.title {
  transition: all .3s;
  &:hover {
    transform: translateY(-3px);
    cursor: pointer;
  }
  &:active {
    color: grey;
  }
}
.content{
  margin: 0 auto;
  max-width: 70%;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options{
  display: flex;
  flex-direction: row;
}
.option{
  transition: all .3s;
  cursor: pointer;
  margin-right: 1rem;
  &:hover {
    transform: translateY(-3px);
  }
  &:active {
    color: grey;
  }
}
.items{
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links{
  margin-right: 0.5rem;
  transition: all .2s;
  &:hover{
    transform: translateY(-3px);
    cursor: pointer;
  }
  &:active{
    color: grey;
  }
  &:last-child{
    margin-right: 0;
  }
}